# docker-compose setup for quick preview.
# Use dev.docker-compose.yaml if you want to debug a local build.
# Use the helm chart if you want to deploy in production.
version: "2.2"
services:
  etcd:
    image: quay.io/coreos/etcd:v3.2
    entrypoint: [etcd]
    command:
      - -name=main
      - -advertise-client-urls=http://etcd:2379
      - -listen-client-urls=http://0.0.0.0:2379
      - -initial-advertise-peer-urls=http://etcd:2380
      - -listen-peer-urls=http://0.0.0.0:2380
      - -initial-cluster-state=new
      - -initial-cluster=main=http://etcd:2380
      - -initial-cluster-token=etcd-cluster-1
      - -data-dir=/var/run/etcd/default.etcd
    volumes:
      - etcd:/var/run/etcd/default.etcd
    restart: always
  jaeger-query:
    image: jaegertracing/jaeger-query:1.42
    environment:
      GRPC_STORAGE_SERVER: kelemetry:17271
      SPAN_STORAGE_TYPE: grpc-plugin
    ports:
      - 0.0.0.0:16686:16686
    restart: always
  jaeger-collector:
    image: jaegertracing/jaeger-collector:1.42
    environment:
      COLLECTOR_OTLP_ENABLED: "true"
      SPAN_STORAGE_TYPE: grpc-plugin
      GRPC_STORAGE_SERVER: remote-badger:17271
    restart: always
  remote-badger:
    image: jaegertracing/jaeger-remote-storage:1.42
    environment:
      SPAN_STORAGE_TYPE: badger
      BADGER_EPHEMERAL: "false"
      BADGER_DIRECTORY_KEY: /mnt/badger/key
      BADGER_DIRECTORY_VALUE: /mnt/badger/data
    volumes:
      - badger:/mnt/badger
  kelemetry:
    command: [
      "kelemetry",
      "--audit-consumer-enable",
      "--audit-producer-enable",
      "--audit-webhook-enable",
      "--event-informer-enable",
      "--annotation-linker-enable",
      "--owner-linker-enable",
      "--diff-decorator-enable",
      "--diff-controller-enable",
      "--diff-api-enable",
      "--jaeger-storage-plugin-enable",
      "--jaeger-redirect-server-enable",
      "--mq=local",
      "--audit-consumer-partition=0,1,2,3,4,5,6,7",
      "--http-address=0.0.0.0",
      "--http-port=8080",
      "--kube-target-cluster=tracetest",
      "--kube-target-rest-burst=100",
      "--kube-target-rest-qps=100",
      "--kube-config-paths=tracetest=/mnt/kubeconfig",
      "--diff-cache=etcd",
      "--diff-cache-etcd-endpoints=etcd:2379",
      "--diff-cache-wrapper-enable",
      "--diff-controller-leader-election-enable=false",
      "--event-informer-leader-election-enable=false",
      "--span-cache=etcd",
      "--span-cache-etcd-endpoints=etcd:2379",
      "--tracer-otel-endpoint=jaeger-collector:4317",
      "--tracer-otel-insecure",
      "--jaeger-cluster-names=tracetest",
      "--jaeger-storage-plugin-address=0.0.0.0:17271",
      "--jaeger-backend=jaeger-storage",
      "--jaeger-storage.span-storage.type=grpc-plugin",
      "--jaeger-storage.grpc-storage.server=remote-badger:17271",
    ]
    ports:
      - 0.0.0.0:8080:8080
    volumes:
      - ./hack/client-kubeconfig.local.yaml:/mnt/kubeconfig
    restart: always

volumes:
  etcd: {}
  badger: {}
